<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Alvo Brindes</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#"></a>
                </li>
                
        <!-- Produto -->
        <li class="nav-item">
            <a class="nav-link" href="#">Produtos</a>
            
            <div class="submenu">
                <a href="#">Listar Produto</a>
                <a href="/produto/adicionar_produto/">Cadastra Produto</a>
                <a href="/produto_variavel/add_produto_variavel/">Cadastra Produto_Variavel</a>
            </div>
        </li>
        <!-- Fim Produto -->

        
        <!-- Clientes -->
        <li class="nav-item">
            <a class="nav-link" href="#">Clientes</a>
            
            <div class="submenu">
                <a href="#">Listar Cliente</a>
                <a href="/cliente/add_cliente/">Cadastrar Cliente</a>
                
            </div>
        </li>
        <!-- Fim Clientes -->

        <!-- Pedidos -->
        <li class="nav-item">
            <a class="nav-link" href="#">Pedidos</a>
            
            <div class="submenu">
                <a href="#">Listar Pedido</a>
                <a href="/pedido/add_pedido/">Cadastrar Pedido</a>
                
            </div>
        </li>
        <!-- Fim Pedidos -->

        <!-- Matéria Prima -->
        <li class="nav-item">
            <a class="nav-link" href="#">Materia Prima</a>
            
            <div class="submenu">
                <a href="#">Listar Materia Prima</a>
                <a href="#">Cadastra Materia Prima</a>
                
            </div>
        </li>
        <!-- Fim Materia Prima -->

        <!-- Molde-->
        <li class="nav-item">
            <a class="nav-link" href="#">Moldes</a>
            
            <div class="submenu">
                <a href="#">Listar Molde</a>
                <a href="/molde/add_molde/">Cadastra Molde</a>
                <a href="#">outros/Molde</a>
            </div>
        </li>
        <!-- Fim Molde -->

        <!-- Ordem Servico -->
        <li class="nav-item">
            <a class="nav-link" href="#">Ordem Serviço</a>
            
            <div class="submenu">
                <a href="/ordem_servico/calcula_total/">Calcula Total</a>
                <a href="/ordem_servico/add_ordem_servico/">Cadastra Ordem Servico</a>
            </div>
        </li>
        <!-- Fim Ordem Servico -->

    
                    <a class="nav-link" href="#">Sobre</a>
                </li>
    </ul> <!--Fim ul Nav Bar-->
        </div>
    </div>
</nav>